Experiments/mongo_tests/mangodb_env
Experiments/mongo_tests/ncpdp_env
Experiments/mongo_tests/csv
Experiments/mongo_tests/app/_*
Experiments/mongo_tests/app/Database/_*
Experiments/mongo_tests/app/router/_*
Experiments/mongo_tests/app/schemas/_*
Experiments/mongo_tests/output
Experiments/mongo_tests/.env
Experiments/mangodb_env
.env
mongo_env
Experiments/Backend/csv
Experiments/Backend/app/_*
Experiments/Backend/app/schemas/_*
Experiments/Backend/app/models/_*
Experiments/Backend/app/services/_*
Experiments/Backend/app/core/_*
Experiments/Backend/app/api/_*
Experiments/Backend/output
